__pycache__
.DS_Store
.vscode
run.sh
acados_ocp.json

# Ignore folder contents but keep folders (with .gitkeep)
acados/*
!acados/.gitkeep
code_gen/*
!code_gen/.gitkeep
json_solver/*
!json_solver/.gitkeep